/* Light 300
Medium 500 */
@keyframes animate_main_text {
  0% {
    color: rgb(255, 255, 255);
  }
  12.5% {
    color: rgb(255, 255, 204);
  }
  25% {
    color: rgb(255, 255, 153);
  }
  35.5% {
    color: rgb(255, 255, 102);
  }
  50% {
    color: rgb(255, 204, 0);
  }
  62.5% {
    color: rgb(255, 153, 51);
  }
  75% {
    color: rgb(255, 102, 0);
  }
  87.6% {
    color: rgb(255, 51, 0);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.homepage__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: disappear 1s; */
}

.homepage__container__video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.homepage__container__text {
  min-width: 50%;
  min-height: 20%;
  color: white;
  font-size: 1500%;
  font-weight: 500;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate_main_text 9s infinite linear alternate;
  top: 30%;
}

.homepage__container__navigation {
  min-width: 10%;
  min-height: 8%;
  font-size: 250%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.navigation__text {
  padding: 1em;
  animation: animate_main_text 9s infinite linear alternate,
    wiggle 3s infinite ease-in-out;
}
